{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Story 9 Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<br>
<br>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2> Welcome to our page </h2>
            <a href="login">
              <button>Click Here to Login</button>
            </a>
            <br>
            or
            <br>
            <a href="signup">
              <button>Click Here to Signup</button>
            </a>
          </div>
        </div>
    </div>

</body>
</html>