{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<br>
<br>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <h2>Sign up</h2>
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
              </form>
          </div>
        </div>
        <br>
        <br>
    </div>

</body>
</html>