{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Welcome </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<br>
<br>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <h2>Welcome, {{ user.username }}! have a good day</h2>
                If you want to logout, click the button below
                <br>
                You will be redirected to the homepage
                <form action="{% url 'homepage:logout' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <button type="submit" class="formbutton">Logout</button>
                        </div>
                </form>

          </div>
        </div>
    </div>

</body>
</html>